%h3 Dokumendi muutmine

= form_for(@document, url: document_path(@document), html: {class: "form-horizontal"}) do |f|
  .form-group
    = label_tag :doc_type, "Tüüp: ", class: "col-sm-3 control-label"
    .col-sm-5
      = text_field_tag :doc_type, @document.doc_type.type_name, class: "form-control", readonly: "readonly"
  .form-group
    = f.label :name, "Nimetus: ", class: "col-sm-3 control-label"
    .col-sm-5
      = f.text_field :name, class: "form-control"
  .form-group
    = f.label :description, "Kirjeldus: ", class: "col-sm-3 control-label"
    .col-sm-5
      = f.text_area :description, rows: 3, class: "form-control"
  - if @document.doc_attributes.any?
    %h3
      %small Dokumendi atribuudid
    - @document.doc_attributes.each do |attribute|
      = document_attribute attribute, :doc_attribute
  .form-group
    .col-sm-offset-3.col-sm-5
      %button.btn.btn-primary(type="submit") Salvesta
      = link_to "Tühista", catalog_documents_path(@current_catalog), class: "btn btn-default"
