%h4 Dokumendi muutmine

= form_tag document_path(@document), method: :put, class: "form-horizontal" do
  = bs_text_field :document, :doc_type, "Tüüp", @document.doc_type.type_name, required: true, readonly: true
  = bs_text_field :document, :name, "Nimetus", @document.name, required: true
  = bs_text_area :document, :description, "Kirjeldus", @document.description
  = bs_select :document, :doc_status_type, "Staatus", @doc_status_types, @document.doc_status_type, required: true, key: :doc_status_type, value: :type_name
  - if @document.doc_attributes.any?
    %h3
      %small Dokumendi atribuudid
    - @document.doc_attributes.each do |attribute|
      = bs_doc_attribute attribute, attribute.doc_attribute
  .form-group
    .col-sm-offset-2.col-sm-5
      %button.btn.btn-primary.btn-sm(type="submit") Salvesta
      = link_to "Tühista", catalog_documents_path(@current_catalog), class: "btn btn-default btn-sm"

- unless @document.updated.nil?
  .well.well-sm
    %small
      = "Dokumendi andmeid on viimati muudetud #{@document.updated.strftime("%d.%m.%Y kell %H:%M:%S")}" + (@document.employee.nil? ? "." : " töötaja #{@document.employee.person.full_name} poolt.")
