- content_for :head do
  :javascript
    $(document).ready(function () {
      var bufferSize = #{@buffer_size};
      function updateBuffer() {
        var count = bufferSize + $(".add-to-buffer:checked").length;
        if (count == 0) {
          $(".btn-buffer").addClass("disabled");
        } else {
          $(".btn-buffer").removeClass("disabled");
        }
      }
      $(".add-to-buffer").change(function () {
        var $tr = $(this).parent().parent();
        if (this.checked) {
          $tr.animate_from_to(".fa-clipboard");
          $tr.addClass("success");
          $.ajax({ url: "/documents/buffer/" + $(this).attr("data-id") + "/add", dataType: "script" });
        } else {
          $(".fa-clipboard").animate_from_to($tr, {
            callback: function() { $tr.removeClass("success"); }
          });
          $.ajax({ url: "/documents/buffer/" + $(this).attr("data-id") + "/remove", dataType: "script" });
        }
        updateBuffer();
      });
      updateBuffer();
    });

-if flash[:notice]
  .alert.alert-success.alert-dismissable
    %button.close{:type => "button", :"data-dismiss" => "alert", :"aria-hidden" => "true"} &times;
    = flash[:notice]

- if @current_catalog.documents.any?
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th
          %i.fa.fa-cut{:title => "Vali liigutamiseks"}
        %th Dokumendi nimi
        %th &nbsp;
    %tbody
      - @current_catalog.documents.each do |document|
        %tr{ class: ("success" if @buffer.include? document.document) }
          %td
            = check_box_tag nil, nil, (@buffer.include? document.document), class: "add-to-buffer", :"data-id" => document.document
          %td
            = link_to document.name, edit_document_path(document)
          %td.text-right
            = link_to document_path(document), method: :delete, data: { confirm: "Kas oled kindel, et soovid dokumendi kustutada?" }, class: "btn btn-danger btn-xs" do
              %i.fa.fa-trash-o
              Kustuta
- elsif @current_catalog == @root
  .alert.alert-warning Juurkataloogi ei ole lubatud dokumente lisada.
- else
  .alert.alert-info Valitud kataloogis ei ole dokumente.

- unless @current_catalog == @root or @current_catalog.content_updated.nil?
  .well.well-sm
    %small
      = "Kataloogi andmeid on viimati muudetud #{@current_catalog.content_updated.strftime("%d.%m.%Y kell %H:%M:%S")} töötaja #{@current_catalog.employee.person.full_name} poolt."
