- content_for :head do
  :javascript
    $(document).ready(function () {
      var $doc_type = $("#document_doc_type");
      function updateItems() {
        var value = $doc_type.find("option:selected").val();
        if (value) {
          $doc_type.find("option[value='']").remove();
          $.ajax({ url: "/documents/attributes/" + value, dataType: "script" });
        }
      }
      if ($("div#attributes").length == 0) {
        updateItems();
      } else {
        var value = $doc_type.find("option:selected").val();
        if (value) {
          $doc_type.find("option[value='']").remove();
        }
      }
      $doc_type.change(function () {
        updateItems();
      });
    });

%h4 Uue dokumendi lisamine

- if @document.errors.any?
  .alert.alert-danger
    %p
      %small
        %strong Lisatava dokumendi andmed on puudulikud!
        Palun paranda allpool v채lja toodud vead.

= form_tag catalog_documents_url(@current_catalog, @document), class: "form-horizontal" do
  = bs_grouped_select :document, :doc_type, "T체체p", @document_types, @document.doc_type, required: true, key: :id, value: :type_name, group: :doc_types, label: :type_name
  = bs_text_field :document, :name, "Nimetus", @document.name, required: true
  = bs_text_area :document, :description, "Kirjeldus", @document.description
  = bs_select :document, :doc_status_type, "Staatus", @doc_status_types, @document.doc_status_type, required: true, key: :doc_status_type, value: :type_name
  - if @document.doc_attributes.any?
    #attributes
      %h3
        %small Dokumendi atribuudid
      - @document.doc_attributes.each do |attribute|
        = bs_doc_attribute(attribute, attribute.doc_type_attribute.doc_type_attribute)
  .form-group
    .col-sm-offset-2.col-sm-5
      %button.btn.btn-primary.btn-sm(type="submit") Salvesta
      = link_to "T체hista", catalog_documents_path(@current_catalog), class: "btn btn-default btn-sm"
